APP_NAME=
APP_ENV=
GIN_MODE=
APP_DEBUG=
APP_VERSION=
JWT_SECRET=

# Port Management
HTTP_PORT=

DB_CONNECTION=
DB_DATABASE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_PREFIX=

ALLOW_ORIGINS=*
ALLOW_METHODS=POST,GET,PUT,DELETE,OPTIONS
ALLOW_HEADERS=*


#LOG
LOG_PATH = ./logs/
